<%= form_for(@currency_conversion) do |f| %>
  <% if @currency_conversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency_conversion.errors.count, "error") %> prohibited this currency_conversion from being saved:</h2>

      <ul>
      <% @currency_conversion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br>
    <%= collection_select(:currency_conversion, :from_code, @currencies, :code, :code) %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= collection_select(:currency_conversion, :to_code, @currencies, :code, :code) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
