<div class="hero-unit">
    <p id="notice"><%= notice %></p>
    <h2>
      <small>
          <span class='widely-spaced'>on</span>
          <%= @currency_conversion.date %>
      </small>
    </h2>
    <h2>
        <%= @currency_conversion.amount %>
        <%= @currency_conversion.from_code %>
        <span class='widely-spaced'>=</span>
        <%= @converted_amount %>
        <%= @currency_conversion.to_code %>
    </h2>

    <%= link_to 'Convert Again', new_currency_conversion_path, class: 'btn'%>
</div>
