<p id="notice"><%= notice %></p>

<p>
  <strong>From code:</strong>
  <%= @currency_conversion.from_code %>
</p>

<p>
  <strong>To code:</strong>
  <%= @currency_conversion.to_code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @currency_conversion.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @currency_conversion.date %>
</p>

<p>
  <strong>New:</strong>
  <%= @currency_conversion.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @currency_conversion.create %>
</p>

<%= link_to 'Edit', edit_currency_conversion_path(@currency_conversion) %> |
<%= link_to 'Back', currency_conversions_path %>
