<p id="notice"><%= notice %></p>

<p>
  <strong>From code:</strong>
  <%= @currency_conversion.from_code %>
</p>

<p>
  <strong>To code:</strong>
  <%= @currency_conversion.to_code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @currency_conversion.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @currency_conversion.date %>
</p>

<%= link_to 'Convert Again', new_currency_conversion_path %>
